.about{
    background-color: #000;
    color: #fff;
    padding: 30px;
}

#technos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    flex-wrap: wrap;
}
#technos img{
    margin: 10px;
}
#technos img:hover{
    transform: scale(.9);
}

