:root {
    --gray-color: #6e6e6e;
    --dark-color: #070707;
    --white-color: #fff;
  }

#navbarNav a{
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 600;
}
.navbar{
  margin-bottom: 5%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}