:root {
    --gray-color: #6e6e6e;
    --dark-color: #070707;
    --white-color: #fff;
  }

#projects{
    background-color:var(--dark-color);
    color: var(--white-color);
    padding: 5%;
    margin-bottom: 5%;
}
#projects a{
  text-decoration: none;
  
}
#projects .card img{
  width: auto;
}
#projects .card{
  color: var(--dark-color);
  height: 370px;
  overflow-y: auto;
  border: none;
  border-radius: 5px;
  
}

#projects .cards:hover{
  box-shadow: 4px 4px 4px -4px rgba(80, 80, 80, 0.8),
  6px 6px 6px -4px rgba(255, 250, 250, 0.9);
}
