:root {
    --gray-color: #6e6e6e;
    --dark-color: #070707;
    --white-color: #fff;
  }

.about{
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 30px;
}

#technos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    flex-wrap: wrap;
}
#technos img{
    margin: 10px;
}
#technos img:hover{
    transform: scale(.9);
}

