@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root {
    --gray-color: #6e6e6e;
    --dark-color: #070707;
    --white-color: #fff;
  }
#banner{
    margin: 5%;
}
.text-gray{
    color: var(--gray-color);
}

.text-left{
    text-align: left !important;
}
#welcome-text h1{
    font-size: 50px;
    font-weight: 800;
}
#row .welcome-text{
    margin-top: 18%;
}
#welcome-text .btn-secondary{
    background-color: var(--gray-color);
    color: var(--white-color);
}
#welcome-text .btn-secondary:hover{
    background-color: var(--white-color);
    color: var(--gray-color);
}
#welcome-text .btn-outline-secondary{
    background-color: var(--white-color);
    color: var(--gray-color);
}
#welcome-text .btn-outline-secondary:hover{
    background-color: var(--gray-color);
    color: var(--white-color);
}

#row .icons{
    margin-top: 20%;
}

#row .icon{
    font-size: 30px;
    
}
#row a{
    text-decoration: none;
    color: var(--gray-color);
}
#row a:hover{
    color: var(--dark-color);
}
#row .bar{
    border-top: none;
    border-bottom: none;
    border-right: var(--dark-color) solid 3px;
    height: 29%;
    margin-top: 20%;
    top: 0;
    border-left: none;
}
